<div class="row-fluid">
	<div class="span8">
		<p>During grad school, I studied communication in the classroom. If you want to learn more about that research, you can <a href="http://docs.lib.purdue.edu/cgttheses/13/" target="_blank">read it for yourself</a>.</p>
		<p>This research required for me to gather each participant's Communcation Apprehension score. Rather than having them take a test on paper and me grading it, I created a <a href="https://github.com/vernak2539/PHP-Communication-Apprehension-Calculator" target="_blank">quickly put together PHP app</a>.</p>
		<p>Looking back at this code, I realized I had done it hastily and horribly (to my standards).</p>
		<p class="italic light-gray font2x">So I...</p>
		<p>...I  created a <a href="https://github.com/vernak2539/js-com-app-calulator" target="_blank">simplified testing mechanism, built completely in JavaScript</a>.</p>
	</div>
	<div class="span4">
		<div class="span12">
			<a href="#" class="btn btn-success center take-test">Take the Test!</a>
		</div>
		<div class="span12">&nbsp;</div>
		<div class="span12">
			<h4 class="txt-center">Communication Apprehension?</h4>
			<blockquote>Communication apprehension (CA) is defined as an “individual’s level of fear or anxiety associated with either real or anticipated communication with another person or persons” - McCroskey</blockquote>
		</div>
	</div>
</div>	