<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
		<h1><em>Your</em> Personal Report of Communication Apprehension</h1>
	</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
	<div class="col-xs-12  col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
		<h3>What is Communication Apprehension?</h3>
	</div>
	<div class="col-xs-12  col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
		<blockquote>
			<p>[An] individual’s level of fear or anxiety associated with either real or anticipated communication with another person or persons</p>
			<small>James C. McCroskey</small>
		</blockquote>
	</div>
</div>
<div class="row">
	<div class="col-xs-12  col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
		<h3>How is it Calculated?</h3>
	</div>
	<div class="col-xs-12  col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
		<p>Using McCroskey's Personal Report of Communication Apprehension (PRCA-24) we can calculate an individuals score based on 24 questions, divided into 4 categories with 6 questions each. These categories are (1) public speaking, (2) interpersonal, (3) group, and (4) meeting skills.</p>
		<blockquote>
			<p>The PRCA-24 is the instrument which is most widely used to measure communication apprehension. It is preferable above all earlier versions of the instrument (PRCA, PRCA10, PRCA-24B, etc.). It is highly reliable (alpha regularly >.90) and has very high predictive validity. It permits one to obtain sub-scores on the contexts of public speaking, dyadic interaction, small groups, and large groups. However, these scores are substantially less reliable than the total PRCA-24 scores-because of the reduced number of items. People interested only in public speaking anxiety should consider using the PRPSA rather than the public speaking sub-score drawn from the PRCA-24. It is much more reliable for this purpose.</p>
			<small>James C. McCroskey</small>
		</blockquote>
	</div>
</div>
<div class="row">
	<div class="col-xs-12  col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
		<h3>Why do I care about this?</h3>
	</div>
	<div class="col-xs-12  col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
		<p>During my MS degree at <a href="https://www.purdue.edu" target="_blank">Purdue University</a> I wrote <a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1013&amp;context=cgttheses#!" target="_blank">my thesis</a> on how and if teachers and students can benefit from the use of <a href="http://en.wikipedia.org/wiki/Microblogging" title="No I didn't use this as a source in my thesis" target="_blank">microblogging</a> (Twitter) in the classroom, relative to communication.</p>
		<p>I needed to collect all participating individual's Communication Apprehension score for statistical purposes. To do this I wrote this <a href="https://github.com/vernak2539/PHP-Communication-Apprehension-Calculator" target="_blank">shitty PHP program</a> to do it. Obviously it was done quickly and poorly, but it worked.</p>
		<p>This is a totally reengineered version of that application. A much BETTER version. Checkout the codebase if you want to see what technology it uses</p>
	</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
		<p>Why are you still sitting there? <button id="questions" type="button" class="btn btn-success">Take the test!</button> You know you want to see your score.</p>
	</div>
</div>