<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calculate Your Personal Communication Apprehension Score</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{{ staticBase }}css/main.css" />
	<script type="text/javascript" data-main="{{ appBase }}app/main.js" src="{{staticBase}}vendor/require.js"></script>
</head>
<body class="com-app">
	{{{body}}}
</body>
</html>