<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<link rel="stylesheet" href="{{ staticBase }}css/main.css" />
	<script type="text/javascript" data-main="{{ appBase }}app/main.js" src="{{staticBase}}vendor/require.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>